<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOFTWARE NAVAL</title>
    <link href="{{ url_for('static', path='/index.css') }}" rel="stylesheet">
    <!-- <link href="index.css" rel="stylesheet"> -->
</head>

{% include 'navbar.html' %}

<body>
    <form form action="/cadastrar_navio" method="POST"> 

        <h2>CADASTRAR NAVIO</h2>
        <div class="container-nivel-01-tipo-01">

            <div class="container-nivel-02-tipo-01">
                <div class="container-nivel-03-tipo-01">
                    <div class="container-nivel-04-tipo-01">DADOS DO NAVIO</div>

                    <div class="container-nivel-04-tipo-02">IDENTIFICAÇÃO DO NAVIO</div>
                    <div><input class="input" type="text" name="navio_parametro_01"></div>

                    <div class="container-nivel-04-tipo-02">COMPRIMENTO TOTAL DO NAVIO (LOA) [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_02"></div>
                    
                    <div class="container-nivel-04-tipo-02">BOCA (B) [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_03"></div>

                    <div class="container-nivel-04-tipo-02">PONTAL (D) [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_04"></div>

                    <div class="container-nivel-04-tipo-02">CALADO (T) [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_05"></div>

                    <div class="container-nivel-04-tipo-02" id="large">POSIÇÃO LONGITUDINAL DO CENTRO DE GRAVIDADE EM RELAÇÃO À POPA (LCG) [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_06"></div>

                    <div class="container-nivel-04-tipo-02" id="large">POSIÇÃO LONGITUDINAL DO CENTRÓIDE DA ÁREA LATERAL DA OBRA MORTA (LOBMORTA) [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_07"></div>

                    <div class="container-nivel-04-tipo-02" id="large">POSIÇÃO LONGITUDINAL DO CENTRÓIDE DA ÁREA LATERAL DA OBRA VIVA (LOBVIVA) [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_08"></div>

                    <div class="container-nivel-04-tipo-02">ÁREA TRANSVERSAL DA OBRA MORTA [M2]</div>
                    <div><input class="input" type="number" name="navio_parametro_09"></div>

                    <div class="container-nivel-04-tipo-02">ÁREA LONGITUDINAL DA OBRA MORTA [M2]</div>
                    <div><input class="input" type="number" name="navio_parametro_10"></div>

                    <div class="container-nivel-04-tipo-02">ÁREA TRANSVERSAL DA OBRA VIVA [M2]</div>
                    <div><input class="input" type="number" name="navio_parametro_11"></div>

                    <div class="container-nivel-04-tipo-02">ÁREA LONGITUDINAL DA OBRA VIVA [M2]</div>
                    <div><input class="input" type="number" name="navio_parametro_12"></div>

                    <div class="container-nivel-04-tipo-02">PROFUNDIDADE DO CAIS [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_13"></div>

                    <div class="container-nivel-04-tipo-02">PROFUNDIDADE NA MARÉ MÍNIMA [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_14"></div>

                    <div class="container-nivel-04-tipo-02">MARÉ INGRESSO [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_15"></div>
                    
                    <div class="container-nivel-04-tipo-02">MARÉ MÍNIMA [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_16"></div>

                    <div class="container-nivel-04-tipo-02">MARÉ MÁXIMA [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_17"></div>

                    <div class="container-nivel-04-tipo-02">VELOCIDADE DO VENTO [M/S]</div>
                    <div><input class="input" type="number" name="navio_parametro_18"></div>

                    <div class="container-nivel-04-tipo-02">DENSIDADE DO AR [KG/M3]</div>
                    <div><input class="input" type="number" name="navio_parametro_19"></div>

                    <div class="container-nivel-04-tipo-02">ÂNGULO DE INCIDÊNDIA DO VENTO [GRAUS]</div>
                    <div><input class="input" type="number" name="navio_parametro_20"></div>

                    <div class="container-nivel-04-tipo-02">VELOCIDADE DA CORRENTEZA [M/S]</div>
                    <div><input class="input" type="number" name="navio_parametro_21"></div>

                    <div class="container-nivel-04-tipo-02">DENSIDADE DA ÁGUA [KG/M3]</div>
                    <div><input class="input" type="number" name="navio_parametro_22"></div>

                    <div class="container-nivel-04-tipo-02">ÂNGULO DE INCIDÊNCIA DA CORRENTEZA [GRAUS]</div>
                    <div><input class="input" type="number" name="navio_parametro_23"></div>

                    <div class="container-nivel-04-tipo-02">XDEF [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_24"></div>

                    <div class="container-nivel-04-tipo-02">YDEF [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_25"></div>
                </div>
            </div>

            <div class="container-nivel-02-tipo-02">
                <div class="container-nivel-03-tipo-02">
                    <div class="container-nivel-04-tipo-05">COORDENADAS</div>

                    <div class="container-nivel-04-tipo-06" id="large2">N° DO ELEMENTO</div>
                    <div class="container-nivel-04-tipo-06">TIPO</div>
                    <div class="container-nivel-04-tipo-06">XN</div>
                    <div class="container-nivel-04-tipo-06">YN</div>
                    <div class="container-nivel-04-tipo-06">ZN</div>
                    <div class="container-nivel-04-tipo-06">XB</div>
                    <div class="container-nivel-04-tipo-06">YB</div>
                    <div class="container-nivel-04-tipo-06">ZB</div>

                    <div class="container-nivel-04-tipo-06">01</div>
                    <div><input class="input" type="number" name="coord-tipo-01"></div>
                    <div><input class="input" type="number" name="coord-xn-01"></div>
                    <div><input class="input" type="number" name="coord-yn-01"></div>
                    <div><input class="input" type="number" name="coord-zn-01"></div>
                    <div><input class="input" type="number" name="coord-xb-01"></div>
                    <div><input class="input" type="number" name="coord-yb-01"></div>
                    <div><input class="input" type="number" name="coord-zb-01"></div>

                    <div class="container-nivel-04-tipo-06">02</div>
                    <div><input class="input" type="number" name="coord-tipo-02"></div>
                    <div><input class="input" type="number" name="coord-xn-02"></div>
                    <div><input class="input" type="number" name="coord-yn-02"></div>
                    <div><input class="input" type="number" name="coord-zn-02"></div>
                    <div><input class="input" type="number" name="coord-xb-02"></div>
                    <div><input class="input" type="number" name="coord-yb-02"></div>
                    <div><input class="input" type="number" name="coord-zb-02"></div>

                    <div class="container-nivel-04-tipo-06">03</div>
                    <div><input class="input" type="number" name="coord-tipo-03"></div>
                    <div><input class="input" type="number" name="coord-xn-03"></div>
                    <div><input class="input" type="number" name="coord-yn-03"></div>
                    <div><input class="input" type="number" name="coord-zn-03"></div>
                    <div><input class="input" type="number" name="coord-xb-03"></div>
                    <div><input class="input" type="number" name="coord-yb-03"></div>
                    <div><input class="input" type="number" name="coord-zb-03"></div>

                    <div class="container-nivel-04-tipo-06">04</div>
                    <div><input class="input" type="number" name="coord-tipo-04"></div>
                    <div><input class="input" type="number" name="coord-xn-04"></div>
                    <div><input class="input" type="number" name="coord-yn-04"></div>
                    <div><input class="input" type="number" name="coord-zn-04"></div>
                    <div><input class="input" type="number" name="coord-xb-04"></div>
                    <div><input class="input" type="number" name="coord-yb-04"></div>
                    <div><input class="input" type="number" name="coord-zb-04"></div>

                    <div class="container-nivel-04-tipo-06">05</div>
                    <div><input class="input" type="number" name="coord-tipo-05"></div>
                    <div><input class="input" type="number" name="coord-xn-05"></div>
                    <div><input class="input" type="number" name="coord-yn-05"></div>
                    <div><input class="input" type="number" name="coord-zn-05"></div>
                    <div><input class="input" type="number" name="coord-xb-05"></div>
                    <div><input class="input" type="number" name="coord-yb-05"></div>
                    <div><input class="input" type="number" name="coord-zb-05"></div>

                    <div class="container-nivel-04-tipo-06">06</div>
                    <div><input class="input" type="number" name="coord-tipo-06"></div>
                    <div><input class="input" type="number" name="coord-xn-06"></div>
                    <div><input class="input" type="number" name="coord-yn-06"></div>
                    <div><input class="input" type="number" name="coord-zn-06"></div>
                    <div><input class="input" type="number" name="coord-xb-06"></div>
                    <div><input class="input" type="number" name="coord-yb-06"></div>
                    <div><input class="input" type="number" name="coord-zb-06"></div>

                    <div class="container-nivel-04-tipo-06">07</div>
                    <div><input class="input" type="number" name="coord-tipo-07"></div>
                    <div><input class="input" type="number" name="coord-xn-07"></div>
                    <div><input class="input" type="number" name="coord-yn-07"></div>
                    <div><input class="input" type="number" name="coord-zn-07"></div>
                    <div><input class="input" type="number" name="coord-xb-07"></div>
                    <div><input class="input" type="number" name="coord-yb-07"></div>
                    <div><input class="input" type="number" name="coord-zb-07"></div>

                    <div class="container-nivel-04-tipo-06">08</div>
                    <div><input class="input" type="number" name="coord-tipo-08"></div>
                    <div><input class="input" type="number" name="coord-xn-08"></div>
                    <div><input class="input" type="number" name="coord-yn-08"></div>
                    <div><input class="input" type="number" name="coord-zn-08"></div>
                    <div><input class="input" type="number" name="coord-xb-08"></div>
                    <div><input class="input" type="number" name="coord-yb-08"></div>
                    <div><input class="input" type="number" name="coord-zb-08"></div>

                    <div class="container-nivel-04-tipo-06">09</div>
                    <div><input class="input" type="number" name="coord-tipo-09"></div>
                    <div><input class="input" type="number" name="coord-xn-09"></div>
                    <div><input class="input" type="number" name="coord-yn-09"></div>
                    <div><input class="input" type="number" name="coord-zn-09"></div>
                    <div><input class="input" type="number" name="coord-xb-09"></div>
                    <div><input class="input" type="number" name="coord-yb-09"></div>
                    <div><input class="input" type="number" name="coord-zb-09"></div>

                    <div class="container-nivel-04-tipo-06">10</div>
                    <div><input class="input" type="number" name="coord-tipo-10"></div>
                    <div><input class="input" type="number" name="coord-xn-10"></div>
                    <div><input class="input" type="number" name="coord-yn-10"></div>
                    <div><input class="input" type="number" name="coord-zn-10"></div>
                    <div><input class="input" type="number" name="coord-xb-10"></div>
                    <div><input class="input" type="number" name="coord-yb-10"></div>
                    <div><input class="input" type="number" name="coord-zb-10"></div>

                    <div class="container-nivel-04-tipo-06">11</div>
                    <div><input class="input" type="number" name="coord-tipo-11"></div>
                    <div><input class="input" type="number" name="coord-xn-11"></div>
                    <div><input class="input" type="number" name="coord-yn-11"></div>
                    <div><input class="input" type="number" name="coord-zn-11"></div>
                    <div><input class="input" type="number" name="coord-xb-11"></div>
                    <div><input class="input" type="number" name="coord-yb-11"></div>
                    <div><input class="input" type="number" name="coord-zb-11"></div>

                    <div class="container-nivel-04-tipo-06">12</div>
                    <div><input class="input" type="number" name="coord-tipo-12"></div>
                    <div><input class="input" type="number" name="coord-xn-12"></div>
                    <div><input class="input" type="number" name="coord-yn-12"></div>
                    <div><input class="input" type="number" name="coord-zn-12"></div>
                    <div><input class="input" type="number" name="coord-xb-12"></div>
                    <div><input class="input" type="number" name="coord-yb-12"></div>
                    <div><input class="input" type="number" name="coord-zb-12"></div>

                    <div class="container-nivel-04-tipo-06">13</div>
                    <div><input class="input" type="number" name="coord-tipo-13"></div>
                    <div><input class="input" type="number" name="coord-xn-13"></div>
                    <div><input class="input" type="number" name="coord-yn-13"></div>
                    <div><input class="input" type="number" name="coord-zn-13"></div>
                    <div><input class="input" type="number" name="coord-xb-13"></div>
                    <div><input class="input" type="number" name="coord-yb-13"></div>
                    <div><input class="input" type="number" name="coord-zb-13"></div>

                    <div class="container-nivel-04-tipo-06">14</div>
                    <div><input class="input" type="number" name="coord-tipo-14"></div>
                    <div><input class="input" type="number" name="coord-xn-14"></div>
                    <div><input class="input" type="number" name="coord-yn-14"></div>
                    <div><input class="input" type="number" name="coord-zn-14"></div>
                    <div><input class="input" type="number" name="coord-xb-14"></div>
                    <div><input class="input" type="number" name="coord-yb-14"></div>
                    <div><input class="input" type="number" name="coord-zb-14"></div>

                    <div class="container-nivel-04-tipo-06">15</div>
                    <div><input class="input" type="number" name="coord-tipo-15"></div>
                    <div><input class="input" type="number" name="coord-xn-15"></div>
                    <div><input class="input" type="number" name="coord-yn-15"></div>
                    <div><input class="input" type="number" name="coord-zn-15"></div>
                    <div><input class="input" type="number" name="coord-xb-15"></div>
                    <div><input class="input" type="number" name="coord-yb-15"></div>
                    <div><input class="input" type="number" name="coord-zb-15"></div>

                    <div class="container-nivel-04-tipo-06">16</div>
                    <div><input class="input" type="number" name="coord-tipo-16"></div>
                    <div><input class="input" type="number" name="coord-xn-16"></div>
                    <div><input class="input" type="number" name="coord-yn-16"></div>
                    <div><input class="input" type="number" name="coord-zn-16"></div>
                    <div><input class="input" type="number" name="coord-xb-16"></div>
                    <div><input class="input" type="number" name="coord-yb-16"></div>
                    <div><input class="input" type="number" name="coord-zb-16"></div>


                    <div class="container-nivel-04-tipo-08"></div>
                    <div class="container-nivel-04-tipo-07">COEFICIENTES DE VENTO</div>

                    <div class="container-nivel-04-tipo-06">ÂNGULO [graus]</div>
                    <div class="container-nivel-04-tipo-06">CX</div>
                    <div class="container-nivel-04-tipo-06">CY</div>
                    <div class="container-nivel-04-tipo-06">CN</div>
                    <div class="container-nivel-04-tipo-06">ÂNGULO [graus]</div>
                    <div class="container-nivel-04-tipo-06">CX</div>
                    <div class="container-nivel-04-tipo-06">CY</div>
                    <div class="container-nivel-04-tipo-06">CN</div>

                    <div class="container-nivel-04-tipo-06">0</div>
                    <div><input class="input" type="number" name="coef-vento-cx-000"></div>
                    <div><input class="input" type="number" name="coef-vento-cy-000"></div>
                    <div><input class="input" type="number" name="coef-vento-cn-000"></div>
                    <div class="container-nivel-04-tipo-06">100</div>
                    <div><input class="input" type="number" name="coef-vento-cx-100"></div>
                    <div><input class="input" type="number" name="coef-vento-cy-100"></div>
                    <div><input class="input" type="number" name="coef-vento-cn-100"></div>

                    <div class="container-nivel-04-tipo-06">10</div>
                    <div><input class="input" type="number" name="coef-vento-cx-010"></div>
                    <div><input class="input" type="number" name="coef-vento-cy-010"></div>
                    <div><input class="input" type="number" name="coef-vento-cn-010"></div>
                    <div class="container-nivel-04-tipo-06">110</div>
                    <div><input class="input" type="number" name="coef-vento-cx-110"></div>
                    <div><input class="input" type="number" name="coef-vento-cy-110"></div>
                    <div><input class="input" type="number" name="coef-vento-cn-110"></div>

                    <div class="container-nivel-04-tipo-06">20</div>
                    <div><input class="input" type="number" name="coef-vento-cx-020"></div>
                    <div><input class="input" type="number" name="coef-vento-cy-020"></div>
                    <div><input class="input" type="number" name="coef-vento-cn-020"></div>
                    <div class="container-nivel-04-tipo-06">120</div>
                    <div><input class="input" type="number" name="coef-vento-cx-120"></div>
                    <div><input class="input" type="number" name="coef-vento-cy-120"></div>
                    <div><input class="input" type="number" name="coef-vento-cn-120"></div>

                    <div class="container-nivel-04-tipo-06">30</div>
                    <div><input class="input" type="number" name="coef-vento-cx-030"></div>
                    <div><input class="input" type="number" name="coef-vento-cy-030"></div>
                    <div><input class="input" type="number" name="coef-vento-cn-030"></div>
                    <div class="container-nivel-04-tipo-06">130</div>
                    <div><input class="input" type="number" name="coef-vento-cx-130"></div>
                    <div><input class="input" type="number" name="coef-vento-cy-130"></div>
                    <div><input class="input" type="number" name="coef-vento-cn-130"></div>

                    <div class="container-nivel-04-tipo-06">40</div>
                    <div><input class="input" type="number" name="coef-vento-cx-040"></div>
                    <div><input class="input" type="number" name="coef-vento-cy-040"></div>
                    <div><input class="input" type="number" name="coef-vento-cn-040"></div>
                    <div class="container-nivel-04-tipo-06">140</div>
                    <div><input class="input" type="number" name="coef-vento-cx-140"></div>
                    <div><input class="input" type="number" name="coef-vento-cy-140"></div>
                    <div><input class="input" type="number" name="coef-vento-cn-140"></div>

                    <div class="container-nivel-04-tipo-06">50</div>
                    <div><input class="input" type="number" name="coef-vento-cx-050"></div>
                    <div><input class="input" type="number" name="coef-vento-cy-050"></div>
                    <div><input class="input" type="number" name="coef-vento-cn-050"></div>
                    <div class="container-nivel-04-tipo-06">150</div>
                    <div><input class="input" type="number" name="coef-vento-cx-150"></div>
                    <div><input class="input" type="number" name="coef-vento-cy-150"></div>
                    <div><input class="input" type="number" name="coef-vento-cn-150"></div>

                    <div class="container-nivel-04-tipo-06">60</div>
                    <div><input class="input" type="number" name="coef-vento-cx-060"></div>
                    <div><input class="input" type="number" name="coef-vento-cy-060"></div>
                    <div><input class="input" type="number" name="coef-vento-cn-060"></div>
                    <div class="container-nivel-04-tipo-06">160</div>
                    <div><input class="input" type="number" name="coef-vento-cx-160"></div>
                    <div><input class="input" type="number" name="coef-vento-cy-160"></div>
                    <div><input class="input" type="number" name="coef-vento-cn-160"></div>

                    <div class="container-nivel-04-tipo-06">70</div>
                    <div><input class="input" type="number" name="coef-vento-cx-070"></div>
                    <div><input class="input" type="number" name="coef-vento-cy-070"></div>
                    <div><input class="input" type="number" name="coef-vento-cn-070"></div>
                    <div class="container-nivel-04-tipo-06">170</div>
                    <div><input class="input" type="number" name="coef-vento-cx-170"></div>
                    <div><input class="input" type="number" name="coef-vento-cy-170"></div>
                    <div><input class="input" type="number" name="coef-vento-cn-170"></div>

                    <div class="container-nivel-04-tipo-06">80</div>
                    <div><input class="input" type="number" name="coef-vento-cx-080"></div>
                    <div><input class="input" type="number" name="coef-vento-cy-080"></div>
                    <div><input class="input" type="number" name="coef-vento-cn-080"></div>
                    <div class="container-nivel-04-tipo-06">180</div>
                    <div><input class="input" type="number" name="coef-vento-cx-180"></div>
                    <div><input class="input" type="number" name="coef-vento-cy-180"></div>
                    <div><input class="input" type="number" name="coef-vento-cn-180"></div>

                    <div class="container-nivel-04-tipo-06">90</div>
                    <div><input class="input" type="number" name="coef-vento-cx-090"></div>
                    <div><input class="input" type="number" name="coef-vento-cy-090"></div>
                    <div><input class="input" type="number" name="coef-vento-cn-090"></div>
                </div>
            </div>
        </div>  

        <h1><button type="submit">ENVIAR DADOS</button></h1>
    </form>
</body>

</html>
