<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOFTWARE NAVAL</title>
    <link href="{{ url_for('static', path='/index.css') }}" rel="stylesheet">
    <!-- <link href="index.css" rel="stylesheet"> -->
</head>

{% include 'navbar.html' %}

<body>
    <form form action="/cadastrar_navio" method="POST"> 

        <h2>CADASTRAR NAVIO</h2>
        <div class="container-nivel-01_tipo_01">

            <div class="container-nivel-02_tipo_01">
                <div class="container-nivel-03_tipo_01">
                    <div class="container-nivel-04_tipo_01">DADOS DO NAVIO</div>

                    <div class="container-nivel-04_tipo_02">IDENTIFICAÇÃO DO NAVIO</div>
                    <div><input class="input" type="text" name="navio_parametro_01"></div>

                    <div class="container-nivel-04_tipo_02">COMPRIMENTO TOTAL DO NAVIO (LOA) [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_02"></div>
                    
                    <div class="container-nivel-04_tipo_02">BOCA (B) [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_03"></div>

                    <div class="container-nivel-04_tipo_02">PONTAL (D) [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_04"></div>

                    <div class="container-nivel-04_tipo_02">CALADO (T) [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_05"></div>

                    <div class="container-nivel-04_tipo_02" id="large">POSIÇÃO LONGITUDINAL DO CENTRO DE GRAVIDADE EM RELAÇÃO À POPA (LCG) [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_06"></div>

                    <div class="container-nivel-04_tipo_02" id="large">POSIÇÃO LONGITUDINAL DO CENTRÓIDE DA ÁREA LATERAL DA OBRA MORTA (LOBMORTA) [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_07"></div>

                    <div class="container-nivel-04_tipo_02" id="large">POSIÇÃO LONGITUDINAL DO CENTRÓIDE DA ÁREA LATERAL DA OBRA VIVA (LOBVIVA) [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_08"></div>

                    <div class="container-nivel-04_tipo_02">ÁREA TRANSVERSAL DA OBRA MORTA [M2]</div>
                    <div><input class="input" type="number" name="navio_parametro_09"></div>

                    <div class="container-nivel-04_tipo_02">ÁREA LONGITUDINAL DA OBRA MORTA [M2]</div>
                    <div><input class="input" type="number" name="navio_parametro_10"></div>

                    <div class="container-nivel-04_tipo_02">ÁREA TRANSVERSAL DA OBRA VIVA [M2]</div>
                    <div><input class="input" type="number" name="navio_parametro_11"></div>

                    <div class="container-nivel-04_tipo_02">ÁREA LONGITUDINAL DA OBRA VIVA [M2]</div>
                    <div><input class="input" type="number" name="navio_parametro_12"></div>

                    <div class="container-nivel-04_tipo_02">PROFUNDIDADE DO CAIS [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_13"></div>

                    <div class="container-nivel-04_tipo_02">PROFUNDIDADE NA MARÉ MÍNIMA [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_14"></div>

                    <div class="container-nivel-04_tipo_02">MARÉ INGRESSO [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_15"></div>
                    
                    <div class="container-nivel-04_tipo_02">MARÉ MÍNIMA [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_16"></div>

                    <div class="container-nivel-04_tipo_02">MARÉ MÁXIMA [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_17"></div>

                    <div class="container-nivel-04_tipo_02">VELOCIDADE DO VENTO [M/S]</div>
                    <div><input class="input" type="number" name="navio_parametro_18"></div>

                    <div class="container-nivel-04_tipo_02">DENSIDADE DO AR [KG/M3]</div>
                    <div><input class="input" type="number" name="navio_parametro_19"></div>

                    <div class="container-nivel-04_tipo_02">ÂNGULO DE INCIDÊNDIA DO VENTO [GRAUS]</div>
                    <div><input class="input" type="number" name="navio_parametro_20"></div>

                    <div class="container-nivel-04_tipo_02">VELOCIDADE DA CORRENTEZA [M/S]</div>
                    <div><input class="input" type="number" name="navio_parametro_21"></div>

                    <div class="container-nivel-04_tipo_02">DENSIDADE DA ÁGUA [KG/M3]</div>
                    <div><input class="input" type="number" name="navio_parametro_22"></div>

                    <div class="container-nivel-04_tipo_02">ÂNGULO DE INCIDÊNCIA DA CORRENTEZA [GRAUS]</div>
                    <div><input class="input" type="number" name="navio_parametro_23"></div>

                    <div class="container-nivel-04_tipo_02">XDEF [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_24"></div>

                    <div class="container-nivel-04_tipo_02">YDEF [M]</div>
                    <div><input class="input" type="number" name="navio_parametro_25"></div>
                </div>
            </div>

            <div class="container-nivel-02_tipo_02">
                <div class="container-nivel-03_tipo_02">
                    <div class="container-nivel-04_tipo_05">COORDENADAS</div>

                    <div class="container-nivel-04_tipo_06" id="large2">N° DO ELEMENTO</div>
                    <div class="container-nivel-04_tipo_06"_TIPO_/div>
                    <div class="container-nivel-04_tipo_06"_XN_/div>
                    <div class="container-nivel-04_tipo_06"_YN_/div>
                    <div class="container-nivel-04_tipo_06"_ZN_/div>
                    <div class="container-nivel-04_tipo_06"_XB_/div>
                    <div class="container-nivel-04_tipo_06">YB</div>
                    <div class="container-nivel-04_tipo_06"_ZB_/div>

                    <div class="container-nivel-04_tipo_06">01</div>
                    <div><input class="input" type="number" name="coord_tipo_01"></div>
                    <div><input class="input" type="number" name="coord_xn_01"></div>
                    <div><input class="input" type="number" name="coord_yn_01"></div>
                    <div><input class="input" type="number" name="coord_zn_01"></div>
                    <div><input class="input" type="number" name="coord_xb_01"></div>
                    <div><input class="input" type="number" name="coord_yb_01"></div>
                    <div><input class="input" type="number" name="coord_zb_01"></div>

                    <div class="container-nivel-04_tipo_06">02</div>
                    <div><input class="input" type="number" name="coord_tipo_02"></div>
                    <div><input class="input" type="number" name="coord_xn_02"></div>
                    <div><input class="input" type="number" name="coord_yn_02"></div>
                    <div><input class="input" type="number" name="coord_zn_02"></div>
                    <div><input class="input" type="number" name="coord_xb_02"></div>
                    <div><input class="input" type="number" name="coord-yb-02"></div>
                    <div><input class="input" type="number" name="coord_zb_02"></div>

                    <div class="container-nivel-04_tipo_06">03</div>
                    <div><input class="input" type="number" name="coord_tipo_03"></div>
                    <div><input class="input" type="number" name="coord_xn_03"></div>
                    <div><input class="input" type="number" name="coord_yn_03"></div>
                    <div><input class="input" type="number" name="coord_zn_03"></div>
                    <div><input class="input" type="number" name="coord_xb_03"></div>
                    <div><input class="input" type="number" name="coord-yb-03"></div>
                    <div><input class="input" type="number" name="coord_zb_03"></div>

                    <div class="container-nivel-04_tipo_06">04</div>
                    <div><input class="input" type="number" name="coord_tipo_04"></div>
                    <div><input class="input" type="number" name="coord_xn_04"></div>
                    <div><input class="input" type="number" name="coord_yn_04"></div>
                    <div><input class="input" type="number" name="coord_zn_04"></div>
                    <div><input class="input" type="number" name="coord_xb_04"></div>
                    <div><input class="input" type="number" name="coord-yb-04"></div>
                    <div><input class="input" type="number" name="coord_zb_04"></div>

                    <div class="container-nivel-04_tipo_06">05</div>
                    <div><input class="input" type="number" name="coord_tipo_05"></div>
                    <div><input class="input" type="number" name="coord_xn_05"></div>
                    <div><input class="input" type="number" name="coord_yn_05"></div>
                    <div><input class="input" type="number" name="coord_zn_05"></div>
                    <div><input class="input" type="number" name="coord_xb_05"></div>
                    <div><input class="input" type="number" name="coord-yb-05"></div>
                    <div><input class="input" type="number" name="coord_zb_05"></div>

                    <div class="container-nivel-04_tipo_06">06</div>
                    <div><input class="input" type="number" name="coord_tipo_06"></div>
                    <div><input class="input" type="number" name="coord_xn_06"></div>
                    <div><input class="input" type="number" name="coord_yn_06"></div>
                    <div><input class="input" type="number" name="coord_zn_06"></div>
                    <div><input class="input" type="number" name="coord_xb_06"></div>
                    <div><input class="input" type="number" name="coord-yb-06"></div>
                    <div><input class="input" type="number" name="coord_zb_06"></div>

                    <div class="container-nivel-04_tipo_06">07</div>
                    <div><input class="input" type="number" name="coord_tipo_07"></div>
                    <div><input class="input" type="number" name="coord_xn_07"></div>
                    <div><input class="input" type="number" name="coord_yn_07"></div>
                    <div><input class="input" type="number" name="coord_zn_07"></div>
                    <div><input class="input" type="number" name="coord_xb_07"></div>
                    <div><input class="input" type="number" name="coord-yb-07"></div>
                    <div><input class="input" type="number" name="coord_zb_07"></div>

                    <div class="container-nivel-04_tipo_06">08</div>
                    <div><input class="input" type="number" name="coord_tipo_08"></div>
                    <div><input class="input" type="number" name="coord_xn_08"></div>
                    <div><input class="input" type="number" name="coord_yn_08"></div>
                    <div><input class="input" type="number" name="coord_zn_08"></div>
                    <div><input class="input" type="number" name="coord_xb_08"></div>
                    <div><input class="input" type="number" name="coord-yb-08"></div>
                    <div><input class="input" type="number" name="coord_zb_08"></div>

                    <div class="container-nivel-04_tipo_06">09</div>
                    <div><input class="input" type="number" name="coord_tipo_09"></div>
                    <div><input class="input" type="number" name="coord_xn_09"></div>
                    <div><input class="input" type="number" name="coord_yn_09"></div>
                    <div><input class="input" type="number" name="coord_zn_09"></div>
                    <div><input class="input" type="number" name="coord_xb_09"></div>
                    <div><input class="input" type="number" name="coord-yb-09"></div>
                    <div><input class="input" type="number" name="coord_zb_09"></div>

                    <div class="container-nivel-04_tipo_06">10</div>
                    <div><input class="input" type="number" name="coord_tipo_10"></div>
                    <div><input class="input" type="number" name="coord_xn_10"></div>
                    <div><input class="input" type="number" name="coord_yn_10"></div>
                    <div><input class="input" type="number" name="coord_zn_10"></div>
                    <div><input class="input" type="number" name="coord_xb_10"></div>
                    <div><input class="input" type="number" name="coord-yb-10"></div>
                    <div><input class="input" type="number" name="coord_zb_10"></div>

                    <div class="container-nivel-04_tipo_06">11</div>
                    <div><input class="input" type="number" name="coord_tipo_11"></div>
                    <div><input class="input" type="number" name="coord_xn_11"></div>
                    <div><input class="input" type="number" name="coord_yn_11"></div>
                    <div><input class="input" type="number" name="coord_zn_11"></div>
                    <div><input class="input" type="number" name="coord_xb_11"></div>
                    <div><input class="input" type="number" name="coord-yb-11"></div>
                    <div><input class="input" type="number" name="coord_zb_11"></div>

                    <div class="container-nivel-04_tipo_06">12</div>
                    <div><input class="input" type="number" name="coord_tipo_12"></div>
                    <div><input class="input" type="number" name="coord_xn_12"></div>
                    <div><input class="input" type="number" name="coord_yn_12"></div>
                    <div><input class="input" type="number" name="coord_zn_12"></div>
                    <div><input class="input" type="number" name="coord_xb_12"></div>
                    <div><input class="input" type="number" name="coord-yb-12"></div>
                    <div><input class="input" type="number" name="coord_zb_12"></div>

                    <div class="container-nivel-04_tipo_06">13</div>
                    <div><input class="input" type="number" name="coord_tipo_13"></div>
                    <div><input class="input" type="number" name="coord_xn_13"></div>
                    <div><input class="input" type="number" name="coord_yn_13"></div>
                    <div><input class="input" type="number" name="coord_zn_13"></div>
                    <div><input class="input" type="number" name="coord_xb_13"></div>
                    <div><input class="input" type="number" name="coord-yb-13"></div>
                    <div><input class="input" type="number" name="coord_zb_13"></div>

                    <div class="container-nivel-04_tipo_06">14</div>
                    <div><input class="input" type="number" name="coord_tipo_14"></div>
                    <div><input class="input" type="number" name="coord_xn_14"></div>
                    <div><input class="input" type="number" name="coord_yn_14"></div>
                    <div><input class="input" type="number" name="coord_zn_14"></div>
                    <div><input class="input" type="number" name="coord_xb_14"></div>
                    <div><input class="input" type="number" name="coord-yb-14"></div>
                    <div><input class="input" type="number" name="coord_zb_14"></div>

                    <div class="container-nivel-04_tipo_06">15</div>
                    <div><input class="input" type="number" name="coord_tipo_15"></div>
                    <div><input class="input" type="number" name="coord_xn_15"></div>
                    <div><input class="input" type="number" name="coord_yn_15"></div>
                    <div><input class="input" type="number" name="coord_zn_15"></div>
                    <div><input class="input" type="number" name="coord_xb_15"></div>
                    <div><input class="input" type="number" name="coord-yb-15"></div>
                    <div><input class="input" type="number" name="coord_zb_15"></div>

                    <div class="container-nivel-04_tipo_06">16</div>
                    <div><input class="input" type="number" name="coord_tipo_16"></div>
                    <div><input class="input" type="number" name="coord_xn_16"></div>
                    <div><input class="input" type="number" name="coord_yn_16"></div>
                    <div><input class="input" type="number" name="coord_zn_16"></div>
                    <div><input class="input" type="number" name="coord_xb_16"></div>
                    <div><input class="input" type="number" name="coord-yb-16"></div>
                    <div><input class="input" type="number" name="coord_zb_16"></div>


                    <div class="container-nivel-04_tipo_08"></div>
                    <div class="container-nivel-04_tipo_07">COEFICIENTES DE VENTO</div>

                    <div class="container-nivel-04_tipo_06">ÂNGULO [graus]</div>
                    <div class="container-nivel-04_tipo_06">CX</div>
                    <div class="container-nivel-04_tipo_06">CY</div>
                    <div class="container-nivel-04_tipo_06">CN</div>
                    <div class="container-nivel-04_tipo_06">ÂNGULO [graus]</div>
                    <div class="container-nivel-04_tipo_06">CX</div>
                    <div class="container-nivel-04_tipo_06">CY</div>
                    <div class="container-nivel-04_tipo_06">CN</div>

                    <div class="container-nivel-04_tipo_06">0</div>
                    <div><input class="input" type="number" name="coef_vento_cx_000"></div>
                    <div><input class="input" type="number" name="coef_vento_cy_000"></div>
                    <div><input class="input" type="number" name="coef_vento_cn_000"></div>
                    <div class="container-nivel-04_tipo_06">100</div>
                    <div><input class="input" type="number" name="coef_vento_cx_100"></div>
                    <div><input class="input" type="number" name="coef_vento_cy_100"></div>
                    <div><input class="input" type="number" name="coef_vento_cn_100"></div>

                    <div class="container-nivel-04_tipo_06">10</div>
                    <div><input class="input" type="number" name="coef_vento_cx_010"></div>
                    <div><input class="input" type="number" name="coef_vento_cy_010"></div>
                    <div><input class="input" type="number" name="coef_vento_cn_010"></div>
                    <div class="container-nivel-04_tipo_06">110</div>
                    <div><input class="input" type="number" name="coef_vento_cx_110"></div>
                    <div><input class="input" type="number" name="coef_vento_cy_110"></div>
                    <div><input class="input" type="number" name="coef_vento_cn_110"></div>

                    <div class="container-nivel-04_tipo_06">20</div>
                    <div><input class="input" type="number" name="coef_vento_cx_020"></div>
                    <div><input class="input" type="number" name="coef_vento_cy_020"></div>
                    <div><input class="input" type="number" name="coef_vento_cn_020"></div>
                    <div class="container-nivel-04_tipo_06">120</div>
                    <div><input class="input" type="number" name="coef_vento_cx_120"></div>
                    <div><input class="input" type="number" name="coef_vento_cy_120"></div>
                    <div><input class="input" type="number" name="coef_vento_cn_120"></div>

                    <div class="container-nivel-04_tipo_06">30</div>
                    <div><input class="input" type="number" name="coef_vento_cx_030"></div>
                    <div><input class="input" type="number" name="coef_vento_cy_030"></div>
                    <div><input class="input" type="number" name="coef_vento_cn_030"></div>
                    <div class="container-nivel-04_tipo_06">130</div>
                    <div><input class="input" type="number" name="coef_vento_cx_130"></div>
                    <div><input class="input" type="number" name="coef_vento_cy_130"></div>
                    <div><input class="input" type="number" name="coef_vento_cn_130"></div>

                    <div class="container-nivel-04_tipo_06">40</div>
                    <div><input class="input" type="number" name="coef_vento_cx_040"></div>
                    <div><input class="input" type="number" name="coef_vento_cy_040"></div>
                    <div><input class="input" type="number" name="coef_vento_cn_040"></div>
                    <div class="container-nivel-04_tipo_06">140</div>
                    <div><input class="input" type="number" name="coef_vento_cx_140"></div>
                    <div><input class="input" type="number" name="coef_vento_cy_140"></div>
                    <div><input class="input" type="number" name="coef_vento_cn_140"></div>

                    <div class="container-nivel-04_tipo_06">50</div>
                    <div><input class="input" type="number" name="coef_vento_cx_050"></div>
                    <div><input class="input" type="number" name="coef_vento_cy_050"></div>
                    <div><input class="input" type="number" name="coef_vento_cn_050"></div>
                    <div class="container-nivel-04_tipo_06">150</div>
                    <div><input class="input" type="number" name="coef_vento_cx_150"></div>
                    <div><input class="input" type="number" name="coef_vento_cy_150"></div>
                    <div><input class="input" type="number" name="coef_vento_cn_150"></div>

                    <div class="container-nivel-04_tipo_06">60</div>
                    <div><input class="input" type="number" name="coef_vento_cx_060"></div>
                    <div><input class="input" type="number" name="coef_vento_cy_060"></div>
                    <div><input class="input" type="number" name="coef_vento_cn_060"></div>
                    <div class="container-nivel-04_tipo_06">160</div>
                    <div><input class="input" type="number" name="coef_vento_cx_160"></div>
                    <div><input class="input" type="number" name="coef_vento_cy_160"></div>
                    <div><input class="input" type="number" name="coef_vento_cn_160"></div>

                    <div class="container-nivel-04_tipo_06">70</div>
                    <div><input class="input" type="number" name="coef_vento_cx_070"></div>
                    <div><input class="input" type="number" name="coef_vento_cy_070"></div>
                    <div><input class="input" type="number" name="coef_vento_cn_070"></div>
                    <div class="container-nivel-04_tipo_06">170</div>
                    <div><input class="input" type="number" name="coef_vento_cx_170"></div>
                    <div><input class="input" type="number" name="coef_vento_cy_170"></div>
                    <div><input class="input" type="number" name="coef_vento_cn_170"></div>

                    <div class="container-nivel-04_tipo_06">80</div>
                    <div><input class="input" type="number" name="coef_vento_cx_080"></div>
                    <div><input class="input" type="number" name="coef_vento_cy_080"></div>
                    <div><input class="input" type="number" name="coef_vento_cn_080"></div>
                    <div class="container-nivel-04_tipo_06">180</div>
                    <div><input class="input" type="number" name="coef_vento_cx_180"></div>
                    <div><input class="input" type="number" name="coef_vento_cy_180"></div>
                    <div><input class="input" type="number" name="coef_vento_cn_180"></div>

                    <div class="container-nivel-04_tipo_06">90</div>
                    <div><input class="input" type="number" name="coef_vento_cx_090"></div>
                    <div><input class="input" type="number" name="coef_vento_cy_090"></div>
                    <div><input class="input" type="number" name="coef_vento_cn_090"></div>
                </div>
            </div>
        </div>  

        <h1><button type="submit">ENVIAR DADOS</button></h1>
    </form>
</body>

</html>
