<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOFTWARE NAVAL</title>
    <link href="{{ url_for('static', path='/index.css') }}" rel="stylesheet">
    <!-- <link href="index.css" rel="stylesheet"> -->
</head>

<navbar>
    <h1>SOFTWARE DE CÁLCULO DE ESFORÇOS EM AMARRAS E DEFENSAS PORTUÁRIAS</h1>
    <ul>
        <li><a href="/navios_cadastradas">NAVIOS CADASTRADOS</a></li>
        <li><a href="/navios_entidade">CADASTRAR NAVIO</a></li>
        <li><a href="/navios_entidade">RESULTADO</a></li>
    </ul>
</navbar>